body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
    margin: 0;
}

.pokeball {
    width: 400px;
    height: 400px;
    background: linear-gradient(to bottom, rgb(255, 0, 0) 50%, white 50%);
    border-radius: 50%;
    border: 5px solid black;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 15px rgba(7, 7, 7, 0.3);
}

.pokeball:hover {
    cursor: crosshair;
}

.center-button {
    width: 50px;
    height: 50px;
    background: white;
    border-radius: 50%;
    border: 5px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
}

.input-window {
    font-size: 20px;
    color: blue;
}

h1 {
    position: absolute;
    top: 10%;
    width: 100%;
    text-align: center;
    font-size: 24px;
    color: rgb(255, 255, 255); 
}

p {
    position: absolute;
    top: 20%;
    width: 100%;
    text-align: center;
    font-size: 24px;
    color: rgb(0, 0, 0);   
}

input {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: solid black;
    text-align: center;
    font-size: 16px;
    outline: none;
    background: transparent;
}
